<h2> What is HvH?</h2>
<p>HVH is an abreviation for Humans versus Humans, 3 day game where players complete missions using nerf style blasters.</p>
<h2>When does this take place?</h2>
<p>HVH takes place the first week of SCAD's winter quarter.</p>
<h1>How can I join?</h1> 
<p>Come to opening night, or come to a mission and find a mod.</p>
<h1>Winter quarter is soooo far away, what can I do in the meantime?</h1>
<h3>SNUG (Savannah Nerf Underground):</h3> <p>takes place every Thursday from 8-10pm in the Hive Courtyard between A and B.  We play both game modes from Humans versus Humans, and Humans versus Zombies. 
There you can meet other members and form friendships, and teams for HvH and HvZ. </p>
<h3>HvZ (Humans versus Zombies):</h3> <p>This is a weeklong game of tag with nerf blasters. Taking place the first week of spring quarter, fight against the growing horde of zombies, or join them and overtake the human resistance!
</p>